<%= form_for(@chanteur) do |f| %>
  <% if @chanteur.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@chanteur.errors.count, "error") %> prohibited this chanteur from being saved:</h2>

      <ul>
      <% @chanteur.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
